fastapi==0.109.2
uvicorn==0.27.1
pandas==2.2.0
numpy==1.26.3
scikit-learn==1.4.0
textblob==0.17.1
vaderSentiment==3.3.2
python-dotenv==1.0.1
spotipy==2.23.0
python-jose==3.3.0
passlib==1.7.4
python-multipart==0.0.6
itsdangerous==2.1.2
